<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Your Fantasy</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <% include ./commons/navbar %>
    <% include ./commons/header %>
    <div class="container mt-2">
        <div class="card mb-2">
            <div class="card-body">
                <header>  
                    <h4> <%= novel[0].novel_title %></h4>
                    <% if(user){ 
                        if(user[0].email == novel[0].users_email) %>
                        <a class="btn btn-primary float-end" role="button" href="/contents/newwriting/<%= novel[0].novel_id %>">글 작성하기</a>
                    <%}  %>
                    <h6 class="text-muted mb-2"><%= novel[0].nickName %>의 작품</h6>
                </header>
                <% if (cnt[0].episodes != null){ %>
                    <p>총 <%= cnt[0].episodes %>화</p>
                <% } else { %>
                    <p>총 0화</p>
                <%} if(novel[0].status== "doing"){ %> 
                    <span>연재중</span>
                <% } else { %> 
                    <span>완결</span>
                    <% } %>
                <p><%= novel[0].novel_introduce %></p>
                <p>조회수 : <%= cnt[0].views %></p>
            </div>
        </div>
        <% if(contents[0] != undefined){      %>
            <div class="card mb-2">
                <div class="card-body">
                    <h3>최신화</h3>
                    <h4 class="card-title">
                        <a href="/contents/views/<%= contents[contents.length-1].contents_id %>"><%= contents[contents.length-1].subtitle %></a>
                    </h4>
                    <h6 class="text-muted card-subtitle mb-2">소제목</h6>
                    <h6 class="text-muted card-subtitle mb-2"></h6>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body mb-2">
                    <div class="input-group"><select class="form-select">
                            <optgroup label="정렬">
                                <option value="1" selected="">최신순으로</option>
                                <option value="2">오래된 순으로</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select><button class="btn btn-primary" type="button">Button</button></div>
                </div>
            </div>
            <%       
            for(var i=0; i<contents.length; i++)
            {
                var data = contents[i];
            
            %> 
            <div class="card">
                <div class="card-body">
                    <a href="/contents/views/<%= data.contents_id %>">
                        <h4><%= data.subtitle %></h4>
                    </a>
                    <h6 class="text-muted card-subtitle mb-2"><%= data.content_create_time %></h6>
                    <h6 class="text-muted card-subtitle mb-2">날짜</h6>
                    <p class="card-text"><%= i+1  %>화</p>
                </div>
            </div>
            <% }
        } else { %>
            <p>연재한 편 없음</p>

        <%} %>
    </div>
    <% include ./commons/footer %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>